{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="content">
  <div class="one-container">
    <div class="recent-cards">

      <h6 class="recent-cards-h6">Недавние карточки</h6>
      <div class="grid">

        <div class="item">
          <a href="{% url 'food' %}" class="recent-cards-url">
            <div class="recent-cards-img-bl">
              <img src="{% static 'Users/images/cards.png' %}" alt="" class="cards-icon-open">
            </div>
            <div class="recent-cards-bl">
              <div class="recent-cards-text-1">
                food
              </div>
              <div class="recent-cards-text-2">
                Модуль  •  20 terms  •  Автор: marinapogorelova
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="recent-cards-url">
            <div class="recent-cards-img-bl">
              <img src="{% static 'Users/images/cards.png' %}" alt="" class="cards-icon-open">
            </div>
            <div class="recent-cards-bl">
              <div class="recent-cards-text-1">
                725 Common Russian Words
              </div>
              <div class="recent-cards-text-2">
                Модуль  •  20 terms  •  Автор: marinapogorelova
              </div>
            </div>
          </a>
        </div>
        
        <div class="item">
          <a href="#" class="recent-cards-url">
            <div class="recent-cards-img-bl">
              <img src="{% static 'Users/images/cards.png' %}" alt="" class="cards-icon-open">
            </div>
            <div class="recent-cards-bl">
              <div class="recent-cards-text-1">
                Информационные технологии и сервисы
              </div>
              <div class="recent-cards-text-2">
                Модуль  •  20 terms  •  Автор: marinapogorelova
              </div>
            </div>
          </a>
        </div>
        
        <div class="item">
          <a href="#" class="recent-cards-url">
            <div class="recent-cards-img-bl">
              <img src="{% static 'Users/images/cards.png' %}" alt="" class="cards-icon-open">
            </div>
            <div class="recent-cards-bl">
              <div class="recent-cards-text-1">
                3000 слов по английскому
              </div>
              <div class="recent-cards-text-2">
                Модуль  •  20 terms  •  Автор: marinapogorelova
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock %}