.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13%;
}

.Submit{
  margin-top: -65px;
}

.Login {
  margin-top: -65px;
  margin-left: 17px;
}

.username-status {
  position: absolute;
  left: 260px;
  top: 130px;
}